.info-box {
    background-color: #ffffff;
    margin-top: -5rem;
}

.box {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 2.5rem 0 1.875rem 0;
}

.info-box__title {
    font-weight: 800;
    font-size: 1.5rem;
    margin-top: 0.875rem;
    text-transform: uppercase;
}

.line {
    display: block;
    width: 0px;
    height: 0.188rem;
    background-color: #DEC7A6;
    margin: 0 auto;
    margin-bottom: 1rem;
    transition: all ease 0.3s;
}

.info-desc{
    max-width: 70%;
    font-weight: 700;
    font-size: 1.125rem;
    text-transform: uppercase;
    margin: 0 auto;
}

.info-card:hover .line{
    width: 20%;    
}




@media only screen and (max-width: 1400px) {
    .container2 {
      max-width: 1100px;
    }
  }


@media only screen and (max-width: 1200px){
    .container2{
        max-width: 900px;
    }
}



@media only screen and (max-width: 992px) {
    .container2{
        max-width: 700px;
    }

    .info-box__title {
        font-weight: 800;
        font-size: 1.25rem;
    }

    .info-desc{
        max-width: 70%;
        font-weight: 700;
        font-size: 1rem;
        margin: 0 auto;
    }
    
}


@media only screen and (max-width: 768px) { 
    .container2{
        max-width: 500px;
    }

    .info-box__title {
        font-weight: 600;
        font-size: 1.125rem;
    }

    .info-desc{
        max-width: 90%;
        font-weight: 600;
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }
}


@media only screen and (max-width: 576px){
    .container2{
        max-width: 350px;
    }

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2.565rem 0 2.190rem 0;
    }

    .info-box__title {
        font-weight: 600;
        font-size: 1rem;
        margin-bottom: 0px;
    }

    .info-desc{
        max-width: 75%;
        font-weight: 400;
        font-size: 1rem;
        
    }
}

@media only screen and (max-width: 425px) {
    .container2{
        max-width: 300px;
    }

    .info-desc{
        margin-bottom: 1.875;
    }


    .info-box__title {
        font-weight: 500;
        font-size: 1rem;
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 376px){
    .container2{
        max-width: 315px;
    }
}