.barber {
    display: flex;
    justify-content: center;
    background-image: url("assets/image/luxory-img.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin-top: 9.435rem;
    
}

.barber-tb {
    padding: 8.75rem 0 12.5rem 0;
    text-align: center;
}

.barber-title {
    max-width: 80%;
    font-weight: 800;
    font-size: 3rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
}

.barber-button {
    margin: 0 auto;
    margin-top: 1.25rem;
}



@media only screen and (max-width: 1400px) {
    
}


@media only screen and (max-width: 1200px) {
    .barber{
        background-position: left;
    }
  
}

@media only screen and (max-width: 992px){
    
    .barber-tb {
        padding: 5.625rem 0 5.625rem 0;
        text-align: center;
    }

    .barber-title {
        font-size: 1.875rem;
    }
}

@media only screen and (max-width: 768px){
    .barber{
        background-position: left;
    }

}

@media only screen and (max-width: 576px){
    .barber{
        background-position: left;
    }

    .barber-title{
        max-width: 90%;
        font-size: 1.25rem;
       
    } 
}

@media only screen and (max-width: 425px){
    .barber{
        background-position: left;
        margin-top: 6.25rem;
    }

    .barber-title{
        max-width: 90%;
        font-size: 1.125rem;
    } 
}