body {
    background-color: #F8F5EF;
    font-family: 'Barlow';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}


.secondary-btn {
    background-color: transparent !important;
    color: #fff !important;
    border: 3px solid #fff !important;
}

.secondary-btn:hover {
    background-color: #fff !important;
    color: #000 !important;
    border: 3px solid #fff !important;
}