.maps {
    background-image: url("assets/image/maps-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.maps-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.maps-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), transparent);

}

.maps-info__left {
    z-index: 2;
    padding-top: 8.125rem;
}

.maps-td {
    text-align: center;
}

.maps-title {
    font-weight: 800;
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
}

.maps-desc {
    max-width: 55%;
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 1rem;
    color: #fff;
    margin: 0 auto;
    margin-top: 1.565rem;
}

.maps-give {
    text-align: center;
}

.maps-call {
    display: inline-block;
    text-align: center;
    margin: 3.75rem 2.5rem;
}


.call-title {
    font-weight: 800;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    margin-top: 0.625rem;
}

.call-number {
    font-weight: 400;
    font: 1.25rem;
    color: #fff;
    margin-top: 0.5rem;
}

.google-map {
    max-width: 100%;
}

.map {
    width: 100%;
    height: 350px;
    cursor: pointer;
    border: none !important;
}









@media only screen and (max-width: 768px){
    .maps{
        background-position: -10.375rem;
    }

    .maps-title {
        font-size: 2.5rem;
    }
    
}



@media only screen and (max-width: 576px) {
    .maps{
        background-position: -13.375rem;
    }

    .maps-overlay {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
    
    }

    .maps-title {
        font-size: 35px;
    }
}

@media only screen and (max-width: 425px) {
    .maps{
        background-position: -20.375rem;
    }

    .maps-call {
        display: block;
        text-align: center;
        margin: 1.875rem 0 0 0;
        padding-bottom: 1.875rem;
    }

    .maps-title {
        font-weight: 800;
        font-size: 1.875rem;
    }

    .maps-desc {
        max-width: 70%;
        font-size: 0.75rem;
    }

    .call-image{
      width: 50px;
    }
}

@media only screen and (max-width: 375px) {
    .maps-title {
        font-weight: 700;
        font-size: 1.563rem;
    }

    .maps-desc {
        max-width: 60%;
        font-size: 0.75rem;
    }
}