.hero{
    display: flex;
    justify-content: center;
    background-image: url("assets/image/hero- img.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.hero-tdb{
    padding: 21.563rem 0 8.813rem 0;
}

.hero-title{
    text-align: center;
    font-weight: 900;
    font-size: 4.5rem;
    color: #fff;
    max-width: 75%;
    margin: 0 auto;
    text-transform: uppercase;
    margin-bottom: 1.565rem;
}

.hero-desc{
    font-family: 'Work Sans';
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    margin-bottom: 2.565rem;
}

.hero-button{
    display: flex;
    justify-content: center;
    background-color: transparent;
}




@media only screen and (max-width: 992px){
    .hero-title{
        font-size: 2.815rem;
    }

    .hero-desc{
        font-size: 1.125rem;
    }
}


@media only screen and (max-width: 576px){
    .hero-tdb{
        padding: 245px 0 140px 0;
    }

    .hero-title{
        font-size: 1.875rem;
    }

    .hero-desc{
        font-size: 1.125rem;
    }
}


@media only screen and (max-width: 425px){
    .hero-tdb{
        padding: 13.438rem 0 8.75rem 0;
    }

    .hero-title{
        font-size: 1.75rem;
    }

    .hero-desc{
        font-size: 1.125rem;
    }
}


@media only screen and (max-width: 376px){
    .hero-tdb{
        padding: 13.440rem 0 8.75rem 0;
    }

    .hero-title{
        font-size: 1.565rem;
    }

    .hero-desc{
        font-size: 1rem;
    }
}